<div class="w3-content w3-center">
    <h1>{{name}}</h1>
    <img src="{{image}}" alt="{{name}}" class="w3-card">
    <h3><b>Feel:</b> {{feel}}</h3>
    <h3><b>Operating Force:</b> {{operatingForce}}</h3>
    <h3><b>Pre-Travel Distance:</b> {{preTravelDistance}}</h3>
    <a class="w3-btn w3-black w3-hover-amber w3-round-large" href="https://www.amazon.com/s?k={{name}}">Buy on Amazon</a>
</div>